.postDate {
  padding-top: 10px;
}
.likes-dislikes {
  font-size: smaller;
}

.ui.button.likeButton {
  background-color: #21ba45;
  color: #f0f0f0;
}

.ui.avatar.image {
  margin-right: 30px;
}

#mainFeed {
  width: 50%;
  max-width: 537px;
  margin-right: 50px;
}
