.ui.segment {
  text-align: center;
}

#image_form {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile_aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
}

#card_component {
  margin-right: 30px;
}

#aboutMeContainer {
  margin-left: 30px;
}
